* {
margin:0;
padding:0;
box-sizing:borderbox;
}
body{
background-color:white;
}
.nav-bar{
background-color: #21618c;
color:white;
font-family:sans-serif;
display:flex;
justify-content:space-between;
flex-direction:row;
margin-bottom:50px;
}
.header{
padding:30px 60px;
}
.cart{
padding:25px 60px;
position:relative;
font-size:30px;
}
.count{
position:absolute;
top: 13px;
right: 60px;
font-size:16px;
background-color:red;
border-radius:10px;
}
.products{
display:grid;
grid-template-columns: repeat(3, 200px);
gap:30px;
justify-content:center;
}
.moon-logo{
background-color:white;
border:1px solid black;
border-radius: 5px;
justify-content:space-between;
}
.logo-img{
padding: 0px 80px;
border-radius: 10px;
}
.bor{
background-color:green;
border-radius:20px;
}

